.navigate{
    display: flex;
    justify-content: center;
    background-color: rgba(51, 51, 51, 1);
    align-items: center;

}
nav a{
    text-decoration: none;
    padding: 5%;
    color:white;
    
}

.header_btn{
    display: flex;
    align-items:center;

}
    button{
border-color:    rgb(218, 203, 6);
background-color: rgb(131, 124, 124);
border-radius: 5px;
color:white;
  }